<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 글 목록</title>
</head>
<body>
    <table>
        <tr>
            <th>글번호</th>
            <th>제목</th>
            <th>좋아요</th>
        </tr>
        <tr th:each="post : ${allPosts}">
            <td><a th:href="@{/posts/{postId}(postId=${post.postId})}" th:text="${post.postId}"> postId  </a></td>
            <td><a th:href="@{/posts/{postId}(postId=${post.postId})}" th:text="${post.title}"> title </a></td>
            <td ></td>
            <td th:text="${post.likes}"></td>
        </tr>
    </table>
</body>
</html>