<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 글 목록</title>
</head>
<body>
    <table>
        <tr>
            <th>글번호</th>
            <th>제목</th>
            <th>좋아요</th>
        </tr>
        <tr th:each="post , postStat : ${allPosts}">
            <td>
                <a th:href="@{/posts{postId}(postId=*{post.postId})}" th:text="${post.postId}"> postId  </a>
                <form th:action="@{/post/delete/{postId}(postId=${post.postId})}" method="post">
                    <input type="submit">
                </form>
            </td>
            <td>
                <a th:href="@{/posts/{postId}(postId=${post.postId})}" th:text="${post.title}"> title </a>
                <button th:onclick="|location.href='@{/post/delete/{postId}(postId=${post.postId})}'|"></button>
            </td>
            <td th:text="${postStat.count}"></td>
            <td th:text="${post.likes}"></td>
        </tr>
    </table>
    <button th:onclick="|location.href='@{/posts/add}'|">등록하기</button>
</body>
</html>