<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 글 상세보기</title>
</head>
<body>
    <table th:object="${post}">
        <tr>
            <th>글번호</th>
            <td th:text="*{postId}">1</td>
        </tr>
        <tr>
            <th>제목</th>
            <td th:text="*{title}">제목</td>
        </tr>
        <tr>
            <th>내용</th>
            <td th:text="*{body}">내용</td>
        </tr>
        <tr>
            <th>좋아요</th>
            <td th:text="*{likes}">0</td>
        </tr>
    </table>
    <button th:onclick="|location.href='@{/posts/update/{postId}(postId=*{postId})}'|">수정하기</button>
    <button th:onclick="|location.href='@{/posts}'|">목록으로</button>
</body>
</html>